.travel-header {
    display: flex;
    justify-content: space-between;

    h3 {
        margin-top: 0;
    }

    button {
        height: 36px;
    }
}

.card-block {
    max-width: 350px;
    margin: 30px auto;

    .card-body {
        text-align: center;
        color: #161e3d;    
        
        .mat-icon {
            font-size: 60px;
            height: 60px;
            width: 60px;
            line-height: 60px;
        }

        .text-icon {
            font-size: 18px;
            font-weight: 400;
        }
    }

    .card-body:hover {
        cursor: pointer;
        background: #9d9d9c;
        color: #fff;    
    }
}

.action-buttons button {
    margin-left: 5px; 
}