<div class="main-content">
    <app-spinner [loader]="loader"></app-spinner>
    <div class="container-fluid" *ngIf="travel">
        <div class="travel-header">
            <h3 class="text-primary">{{travel.name}}</h3>
            <button class="btn btn-primary" (click)="downloadArrivalInformationFile()"><mat-icon>info</mat-icon>Imprimer document transports</button>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div *ngIf="!travel.hotelBookings || travel.hotelBookings.length == 0" class="card card-block">
                    <div class="card-body" (click)="openRoomReservationDialog()">
                        <mat-icon>hotel</mat-icon>
                        <div class="text-icon">Ajouter des hôtels</div>
                    </div>
                </div>

                <div *ngIf="travel.hotelBookings && travel.hotelBookings.length > 0">
                    <div class="action-buttons">
                        <button class="btn btn-info" (click)="openRoomReservationDialog()"><mat-icon>hotel</mat-icon>Ajouter un hôtel</button>
                        <button class="btn btn-info" routerLink="rooms"><mat-icon>view_module</mat-icon>Organiser les chambres</button>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title pull-left">Hôtels</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>{{ 'COMMON.NAME' | translate }}</th>
                                    <th>Pèlerins</th>
                                    <th>Nb chambres</th>
                                    <th>Nuits</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reservation of travel.hotelBookings" (click)="openRoomReservationDialog(reservation, true);$event.stopPropagation()">
                                    <td>{{ reservation.hotel.name }}</td>
                                    <td>{{ reservation.travelerCount }}</td>
                                    <td>{{ reservation.rooms.length }} ({{ getReservationAvailableSpace(reservation) }} places libres)</td>
                                    <td>{{ getNights(reservation) }}</td>
                                    <td>
                                        <button matTooltip="Ajouter des chambres" mat-icon-button (click)="openRoomReservationDialog(reservation);$event.stopPropagation()">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-icon-button matTooltip="Supprimer réservation d'hôtel" (click)="openDeleteHotelBooking(reservation);$event.stopPropagation()">
                                            <mat-icon class="text-danger">close</mat-icon>
                                        </button>
                                    </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div *ngIf="!travel.flightBookings || travel.flightBookings.length == 0" class="card card-block">
                    <div class="card-body" (click)="openFlightBookingDialog()">
                        <mat-icon>flight</mat-icon>
                        <div class="text-icon">Ajouter des vols</div>
                    </div>
                </div>
                <div *ngIf="travel.flightBookings && travel.flightBookings.length > 0">
                    <div class="action-buttons">
                        <button class="btn btn-info" (click)="openFlightBookingDialog()"><mat-icon>flight</mat-icon>Ajouter un vol</button>
                        <!-- <button routerLink="flights" class="btn btn-info"><mat-icon>view_module</mat-icon>Organiser les vols</button> -->
                        <button [disabled]="generatingAirlinesFiles" class="btn btn-info" (click)="downloadAirlinesFile()"><mat-icon>cloud_download</mat-icon>Manifest PNR</button>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title">Vols</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>{{ 'COMMON.NAME' | translate }}</th>
                                    <th>Départ</th>
                                    <th>Arrivée</th>
                                    <th>Pèlerins</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let booking of travel.flightBookings" [routerLink]="['flights', booking.id]">
                                        <td>{{ booking.flight?.airline?.name }}</td>
                                        <td><span class="bold">{{ booking.departureDate | date:'dd/MM' }}</span> {{ booking.flight?.airportFrom }}</td>
                                        <td><span class="bold">{{ booking.arrivalDate | date:'dd/MM' }}</span> {{ booking.flight?.airportTo }}</td>
                                        <td>{{ booking.travelerCount }}</td>
                                        <td>
                                            <button mat-icon-button matTooltip="Supprimer vol" (click)="openDeleteFlightBooking(booking);$event.stopPropagation()">
                                                <mat-icon class="text-danger">close</mat-icon>
                                            </button>
                                        </td>
                                      </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" *ngIf="travel.customers.paging.totalCount == 0 && searchTerm == null">
                    <div class="col">
                        <div class="card card-block">
                            <div class="card-body" (click)="openAddCustomerDialog()">
                                <mat-icon>person_add</mat-icon>
                                <div class="text-icon">Ajouter des pèlerins</div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card-block">
                        <div class="card-body" (click)="openAddCustomerDialog(true)">
                            <mat-icon>group_add</mat-icon>
                            <div class="text-icon">Ajouter un groupe</div>
                        </div>
                    </div>
                </div>
                </div>
                <div *ngIf="travel.customers.data && (travel.customers.data.length > 0 || searchTerm != null)">
                    <div class="action-buttons">
                        <button class="btn btn-info" (click)="openAddCustomerDialog()"><mat-icon>person_add</mat-icon>Ajouter des pèlerins</button>
                        <button class="btn btn-info" [matMenuTriggerFor]="groupMenu">Groupes<mat-icon>expand_more</mat-icon></button>
                        <mat-menu #groupMenu="matMenu">
                          <button mat-menu-item (click)="openAddCustomerDialog(true)"><mat-icon>group_add</mat-icon>Créer un groupe</button>
                          <button mat-menu-item routerLink="groups"><mat-icon>group</mat-icon>Gérer les groupes</button>
                        </mat-menu>
                        <button class="btn btn-primary" [disabled]="exportingPilgrims" (click)="exportPilgrims()"><mat-icon>person_pin</mat-icon>Exporter pèlerins</button>                        
                        <button class="btn btn-primary" [disabled]="generatingBadges" (click)="downloadAllBadges()"><mat-icon>picture_in_picture</mat-icon>Imprimer badges</button>
                    </div>
                    <div class="card">
                        <div class="card-header card-header-warning">
                            <h4 class="card-title pull-left">Pèlerins</h4>
                        </div>
                        <div class="card-body table-responsive">
                            <form class="form-outline p-b-0" (ngSubmit)="searchCustomers(true)" novalidate>
                                <mat-form-field appearance="outline">
                                    <mat-label>Chercher</mat-label>
                                    <input matInput name="searchTerm" [(ngModel)]="searchTerm"
                                        placeholder="{{ 'CUSTOMERS.SEARCH_PLACEHOLDER' | translate }}" />
                                    <button matSuffix mat-icon-button type="submit">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </form>
                            <table class="table table-hover pilgrims-table">
                                <thead class="text-warning">
                                    <th>Nom</th>
                                    <th>Age</th>
                                    <th>Téléphone</th>
                                    <th *ngIf="travel.travelTypeId == 2">Mouton</th>
                                    <th>Documents</th>
                                    <th>Paiement</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let customer of travel.customers.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: travel.customers?.paging?.totalCount }; let i = index" [routerLink]="['customers', customer.id]">
                                        <td [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">{{ customer.firstname }} {{ customer.lastname }}</td>
                                        <td [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}"><span *ngIf="customer.birthDate">{{ moment().diff(customer.birthDate, 'years') }}</span></td>
                                        <td [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">{{ customer.mobileNumber }}</td>
                                        <td *ngIf="travel.travelTypeId == 2" 
                                            [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">
                                            <span *ngIf="customer.additionalFees && customer.additionalFees.indexOf('MOUTON') > -1">OUI</span>
                                            <span *ngIf="!customer.additionalFees || customer.additionalFees.indexOf('MOUTON') == -1">NON</span>                                            
                                        </td>
                                        <td [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">
                                            <span [matTooltip]="getCustomerDocumentsStatus(customer)" matTooltipClass="multiline" *ngIf="customer.documentsErrors && customer.documentsErrors.length > 0" class="badge badge-danger">Incomplet</span>
                                            <span *ngIf="!customer.documentsErrors || customer.documentsErrors.length == 0" class="badge badge-success">Complet</span>
                                        </td>
                                        <td *ngIf="customer.travelPayment" [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">
                                            <span *ngIf="customer.travelPayment.status == 'P'" class="badge badge-success">Payé</span>
                                            <span *ngIf="customer.travelPayment.status == 'I'" class="badge badge-danger">Incomplet</span>
                                            <span *ngIf="customer.travelPayment.status == 'R'" class="badge badge-warning">A rembourser</span>
                                        </td>
                                        <td [ngClass]="{'no-border': i > 0 && customer.travelGroupId && travel.customers.data[i-1].travelGroupId == customer.travelGroupId}">
                                            <button mat-icon-button matTooltip="Paiements groupe" *ngIf="customer.travelGroupId" (click)="openGroupPaymentsDialog(customer);$event.stopPropagation()">
                                                <mat-icon class="text-primary">payment</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Imprimer documents" (click)="printDocuments(customer);$event.stopPropagation()">
                                                <mat-icon class="text-primary">print</mat-icon>
                                            </button>
                                            <button mat-icon-button matTooltip="Enlever du voyage" (click)="openDeletePilgrimDialog(customer);$event.stopPropagation()">
                                                <mat-icon class="text-danger">close</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls *ngIf="travel.customers" (pageChange)="pageChanged($event)" 
                            autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                        </pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>