<div mat-dialog-title>
    <span *ngIf="!isEdit">Nouvelle note</span>
    <span *ngIf="isEdit">{{ note.title }}</span>
</div>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="{{ 'NOTES.TITLE' | translate }}" formControlName="title" required>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput placeholder="{{ 'NOTES.CONTENT' | translate }}" formControlName="content" rows="10" required>
      </textarea>
    </mat-form-field>
    <div class="pull-right">
      <button mat-raised-button type="submit" class="btn btn-info" (click)="saveNote()"
        [disabled]="loading || form.invalid">{{ 'COMMON.SAVE' | translate }}</button>
      <button mat-raised-button type="button" class="btn btn-secondary" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </form>
</div>