<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="action-buttons">
                    <button class="btn btn-info" (click)="newOmra()"><mat-icon>add</mat-icon>Ajouter une Omra</button>
                </div>
                <app-spinner [loader]="loader"></app-spinner>
                <div class="card" *ngIf="loader.closed && omraList && omraList.data && omraList.data.length > 0">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Historique des Omra</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Nom</th>
                                    <th>Nombre de personnes</th>
                                    <th>Statut</th>
                                    <th>Revenus</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let omra of omraList.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: omraList?.paging?.totalCount }" [routerLink]="['/omra', omra.id]">
                                        <td>{{ omra.name }}</td>
                                        <td>{{ omra.travelerCount }}</td>
                                        <td>{{ omra.status }}</td>
                                        <td class="text-primary">{{ omra.revenues }}€</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls *ngIf="omraList" (pageChange)="pageChanged($event)" 
                        autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
  </div>
  