<div class="card">
  <div class="card-header">
      <h3 class="card-title">{{ 'AUTH.LOGIN_TITLE' | translate }}</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="form.valid && login()">
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'COMMON.USERNAME' | translate }}" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input matInput type="password" placeholder="{{ 'COMMON.PASSWORD' | translate }}" formControlName="password" required>
        </mat-form-field>
        
        <app-submit-button value="{{ 'AUTH.LOGIN' | translate }}"
                            loadingValue="{{ 'AUTH.LOGIN' | translate }}" 
                            [subscription]="loginSubscription">
        </app-submit-button>
    </form>
    <div>
      <!-- <app-error-message [(error)]="error" defaultMessage="{{ 'AUTH.INVALID_CREDENTIALS' | translate }}">
      </app-error-message> -->
    </div>
    <div class="pull-right">
        <a routerLink="forgetpassword"><small>{{ 'AUTH.FORGOT_PASSWORD' | translate }}</small></a>
    </div>
    <div>
</div>