<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card card-block">
          <div class="card-body" routerLink="sms">
            <mat-icon>sms</mat-icon>
            <div class="text-icon">SMS</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-block disabled">
          <div class="card-body">
            <mat-icon>notifications</mat-icon>
            <div class="text-icon">Push notification</div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card card-block disabled">
          <div class="card-body">
            <mat-icon>chat_bubble</mat-icon>
            <div class="text-icon">Chat</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>