.picture {
    margin-bottom: 25px;
    text-align: center;

    img {
        margin-top: 15px;
        max-width: 130px;
        max-height: 130px;
        // border-radius: 50%;
    }
}

    
label {
    margin-bottom: 0;
    color: rgba(0,0,0,.54);
    font-size: 15px;
}
