<form [formGroup]="form" *ngIf="!showCamera">
  <div>
    <div class="picture">
      <label>{{ 'CUSTOMER.PICTURE' | translate }}</label>
      <app-file-upload [imageWidth]="116" [imageHeight]="150" [(file)]="customer.picture" (onOpenCamera)="showCamera=true"></app-file-upload>
      <!-- <img *ngIf="customer.picture && customer.picture.src" [src]="customer.picture.src" /> -->
    </div>
    <mat-radio-group formControlName="gender">
        <mat-radio-button style="margin-bottom: 11px" value="M">{{ 'COMMON.GENDER_M' | translate }}</mat-radio-button>
        <mat-radio-button style="margin-left: 15px" value="F">{{ 'COMMON.GENDER_F' | translate }}</mat-radio-button>
    </mat-radio-group>
    <div class="row">
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.FIRSTNAME' | translate }}" formControlName="firstname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.LASTNAME' | translate }}" formControlName="lastname" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" maxlength="10" (keypress)="validateDate($event)"
                    placeholder="{{ 'COMMON.BIRTHDATE' | translate }}" formControlName="birthDate" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthDate.errors?.required && (birthDate.dirty ||birthDate.touched)">
                    {{ 'FORM.INVALID_DATE' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.PHONE' | translate }}" formControlName="mobile">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Téléphone fixe" formControlName="phone">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.EMAIL' | translate }}" formControlName="email">
                <mat-error *ngIf="email.hasError('email')">
                    {{ 'FORM.INVALID_EMAIL' | translate }}
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Profession"
                    autoClose [control]="profession" formControlName="profession" [matAutocomplete]="autoProfession">
                <mat-autocomplete #autoProfession="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let option of filteredProfessions | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Pays de naissance"
                    autoClose [control]="birthCountry" formControlName="birthCountry" [matAutocomplete]="autoBirthCountry">
                <mat-autocomplete #autoBirthCountry="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let option of filteredCountries | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Nationalité"
                    autoClose [control]="nationality" formControlName="nationality" [matAutocomplete]="autoNationality">
                <mat-autocomplete #autoNationality="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let option of filteredNationalities | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col">
            <mat-form-field class="full-width">
                <input matInput placeholder="Numéro de passeport" formControlName="passportNumber">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerPassport" maxlength="10" (keypress)="validateDate($event)"
                    placeholder="Date d'expiration du passeport" formControlName="passportExpiryDate">
                <mat-datepicker-toggle matSuffix [for]="pickerPassport"></mat-datepicker-toggle>
                <mat-datepicker #pickerPassport></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Pays de délivrance du passeport"
                    autoClose [control]="passportIssuingCountry" formControlName="passportIssuingCountry" [matAutocomplete]="passportIssuingCountry">
                <mat-autocomplete #passportIssuingCountry="matAutocomplete" [displayWith]="displayFn.bind(this)">
                    <mat-option *ngFor="let option of filteredPassportCountries | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.STREET' | translate }}" formControlName="address1">
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="{{ 'COMMON.CITY_ZIP_CODE' | translate }}"
                    autoClose [control]="cityPostalCode" formControlName="cityPostalCode" [matAutocomplete]="autoCity">
                <mat-autocomplete #autoCity="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-select placeholder="A connu l'agence" formControlName="howKnewAgency">
                    <mat-option *ngFor="let option of knewAgency" [value]="option">
                        {{ option.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width">
                <input matInput placeholder="Groupe sanguin" formControlName="bloodGroup">
            </mat-form-field>
            <mat-form-field class="full-width">
                <textarea rows="3" matInput placeholder="Informations médicales" formControlName="medicalInfo"></textarea>
            </mat-form-field>
        </div>
    </div>
    </div>
    <div class="pull-right">
        <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" buttonClass="btn btn-info"
            loadingValue="{{ 'COMMON.SAVING' | translate }}" [form]="form"
            [subscription]="submitSubscription" (click)="save()">
        </app-submit-button>
       <button mat-raised-button class="btn btn-secondary" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
</form>

<app-webcam *ngIf="showCamera" (onCapture)="setCustomerPicture($event)"></app-webcam> 
