<!-- <app-alert [(error)]="error" errorMessage="{{ 'COMMON.SERVER_ERROR' | translate }}"
successMessage="{{ 'FORGET_PASSWORD.SUCCESS_MESSAGE' | translate }}">
</app-alert> -->

<div class="card">
  <div class="card-header">
      <h3 class="card-title">{{ 'AUTH.FORGET_PASSWORD_TITLE' | translate }}</h3>
  </div>

  <div class="card-body">
    <form [formGroup]="form" (submit)="onSumbit()">
      <mat-form-field class="full-width">
          <input matInput placeholder="{{ 'COMMON.EMAIL' | translate }}" formControlName="email"  required="true">
      </mat-form-field>
      <div *ngIf="email.invalid && email.touched" class="invalid-field">
          {{ 'FORM.INVALID_EMAIL' | translate }}
      </div>
      
      <app-submit-button value="{{ 'AUTH.SET_PASSWORD_BUTTON' | translate }}"
                        loadingValue="{{ 'COMMON.LOADING' | translate }}" 
                        [subscription]="forgetPasswordSubscription" [form]="form">
      </app-submit-button>
    </form>
  </div>
</div>