<div mat-dialog-title>{{ data.title }}</div>
<div mat-dialog-content>
    <div class="input-group no-border">
        <input type="text" value="" class="form-control" placeholder="Nom, Email, Téléphone...">
        <button mat-icon-button title="Chercher">
            <i class="material-icons">search</i>
        </button>
        <button mat-icon-button title="Créer nouveau client" (click)="newCustomer()" >
            <mat-icon>create</mat-icon>
        </button>
    </div>

    <div class="action-buttons">
        <button mat-icon-button *ngIf="customersChecked.length > 0" title="Ajouter" (click)="addExisting()">
            <mat-icon>add</mat-icon>
        </button>
        <!--<mat-divider [vertical]="true" *ngIf="customersChecked.length > 0"></mat-divider>
        <button mat-icon-button (click)="newCustomer()" >
            <mat-icon>create</mat-icon>
        </button> -->
    </div>

    <table class="table table-hover">
        <thead class="text-warning">
            <th></th>
            <th>{{ 'COMMON.NAME' | translate }}</th>
            <th>{{ 'COMMON.PHONE' | translate }}</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td><mat-checkbox (change)="customerChecked($event, customer)"></mat-checkbox></td>
                <td>{{ customer.firstname }} {{ customer.lastname }}</td>
                <td>{{ customer.mobileNumber }}</td>
                <td>
                    <button mat-icon-button title="Ajouter" (click)="addExisting(customer)">
                        <mat-icon>add</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>