<app-spinner [loader]="loader"></app-spinner>
<div class="row">
  <div class="col-lg-6 col-12" *ngFor="let fee of fees; let i = index">
    <mat-checkbox [(ngModel)]="fee.checked" (change)="serviceChecked($event, fee)">{{ fee.name }} ({{ fee.price }}€)</mat-checkbox>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <form [formGroup]="form">
      <div class="bold">Chambres d'hôtel</div>
      <div *ngIf="travelTypeId == 2 || travelTypeId == 3">
        <div class="row">
          <mat-form-field class="col-12 col-md-4">
            <mat-select placeholder="Hôtel La Mecque" formControlName="hotelMekka">
              <mat-option></mat-option>
              <mat-option *ngFor="let h of hotels" [value]="h.id">
                {{ h.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="hotelMekka.value" class="col-6 col-md-4">
            <mat-select placeholder="Chambre" formControlName="hotelMekkaRoom">
              <mat-option *ngFor="let option of roomTypes" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="hotelMekka.value" class="col-6 col-md-4">
              <input type="number" matInput min="0" placeholder="Prix par personne" formControlName="hotelMekkaRoomPrice">
          </mat-form-field>
        </div>

        <div class="row">
          <mat-form-field class="col-12 col-md-4">
            <mat-select placeholder="Hôtel Médine" formControlName="hotelMedina">
              <mat-option></mat-option>
              <mat-option *ngFor="let h of hotels" [value]="h.id">
                {{ h.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="hotelMedina.value" class="col-6 col-md-4">
            <mat-select placeholder="Chambre" formControlName="hotelMedinaRoom">
              <mat-option *ngFor="let option of roomTypes" [value]="option.id">
                {{ option.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field *ngIf="hotelMedina.value" class="col-6 col-md-4">
              <input type="number" matInput min="0" placeholder="Prix par personne" formControlName="hotelMedinaRoomPrice">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div *ngIf="travelTypeId == 2 || travelTypeId == 3">
        <app-flight-booking [customer]="customer" (onChange)="onFlightsChange($event)"></app-flight-booking>
      </div>
  </div>
</div>