<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">
              <div class="action-buttons">
                <button class="btn btn-info" (click)="openAirlineDialog()"><mat-icon>add</mat-icon>Ajouter une compagnie</button>
              </div>
              <app-spinner [loader]="loader"></app-spinner>
              <div class="card" *ngIf="loader.closed && airlines && airlines.data && airlines.data.length > 0">
                  <div class="card-header card-header-warning">
                    <h4 class="card-title">Compagnies aériennes</h4>
                  </div>
                  <div class="card-body table-responsive">
                      <table class="table table-hover">
                          <thead class="text-warning">
                              <th>Nom</th>
                              <th>Téléphone</th>
                              <th>Email</th>
                              <th></th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let airline of airlines.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: airlines?.paging?.totalCount }" (click)="openAirlineDialog(airline)">
                                <td>{{ airline.name }}</td>
                                <td>{{ airline.contactPhoneNumber }}</td>
                                <td>{{ airline.contactEmail }}</td>
                                <td>
                                    <button mat-icon-button (click)="openDeleteDialog(airline);$event.stopPropagation()">
                                        <mat-icon class="text-danger">delete</mat-icon>
                                    </button>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <pagination-controls *ngIf="airlines" (pageChange)="pageChanged($event)" 
                    autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                  </pagination-controls>
              </div>
          </div>
      </div>
  </div>
</div>