.card {
    margin-top: 0;
	
	.card-title {
		font-weight: 400;
	}

	.card-body {
		padding-top: 0;
	}
}

.total {
	border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 10px 0;
    padding: 5px 0;
}