<div mat-dialog-title>Paiment</div>
<div mat-dialog-content>
    <form [formGroup]="form">
        <div formArrayName="payments">
            <div *ngFor="let customer of customers; let i = index" class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ customer.firstname }} {{ customer.lastname }}</h4>
                </div>
                <div [formGroupName]="i" class="card-body">
                    <div class="row" *ngFor="let fee of fees">
                        <div class="col">{{ fee.name }}</div>
                        <div class="col">{{ fee.amount }}</div>
                    </div>
                    <div class="total row bold">
                        <div class="col">Total</div>
                        <div class="col">{{ totalAmount }}</div>
                    </div>
                    <mat-form-field>
                        <input type='number' matInput min="0" placeholder="Accorder une remise" formControlName="discount">
                    </mat-form-field>
                    <div class="total row bold">
                        <div class="col">A PAYER</div>
                        <div class="col">{{ getAmountToPay(totalAmount, i) }}</div>
                    </div>
                    <mat-form-field>
                        <input type='number' matInput min="0" [max]="totalAmount" placeholder="Montant payé" formControlName="amount">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button mat-raised-button type="submit" class="btn btn-sm btn-info" (click)="pay()"
                    [disabled]="loading">{{ 'COMMON.SAVE' | translate }}</button>
            <button mat-raised-button class="btn btn-sm btn-secondary" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
        </div>
    </form>
</div>