<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <app-spinner [loader]="loader"></app-spinner>
                <div class="card" *ngIf="loader.closed && payments && payments.data && payments.data.length > 0">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title pull-left">Historique des paiments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Client</th>
                                    <th>Status</th>
                                    <th>Reste à payer</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of payments.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: payments?.paging?.totalCount }" [routerLink]="['/customers', payment.customer.id]">
                                        <td>{{ payment.createdDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ payment.amountPaid }} €</td>
                                        <td><span *ngIf="payment.customer">{{ payment.customer.firstname }} {{ payment.customer.lastname }}</span></td>
                                        <td>
                                          <span *ngIf="payment.status == 'P'" class="badge badge-success">Payé</span>
                                          <span *ngIf="payment.status == 'I'" class="badge badge-danger">Incomplet</span>
                                          <span *ngIf="payment.status == 'R'" class="badge badge-warning">A rembourser</span>
                                        </td>
                                        <td>{{ payment.fees - payment.amountPaid - payment.discount }} €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls *ngIf="payments" (pageChange)="pageChanged($event)" 
                        autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
  </div>
  