<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title pull-left">Historique des paiments</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Date</th>
                                    <th>Montant</th>
                                    <th>Client</th>
                                    <th>Status</th>
                                    <th>Reste à payer</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let payment of payments" [routerLink]="['/customers', payment.customer.id]">
                                        <td>{{ payment.date | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ payment.amountPaid }} €</td>
                                        <td><span *ngIf="payment.customer">{{ payment.customer.firstname }} {{ payment.customer.lastname }}</span></td>
                                        <td>
                                          <span *ngIf="payment.status == 'P'" class="badge badge-success">Payé</span>
                                          <span *ngIf="payment.status == 'I'" class="badge badge-danger">Incomplet</span>
                                        </td>
                                        <td>{{ payment.fees - payment.amountPaid - payment.discount }} €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  