// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $dark-blue !default;
$brand-info:                 $jade-green !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-gold !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;
