<div>
    <div class="row">
      <div class="col-4">
        <mat-form-field>
          <mat-select placeholder="Hôtel (Ville)" [(ngModel)]="selectedBooking">
            <mat-option *ngFor="let booking of hotelBookings" [value]="booking">
              {{ booking.hotel.name }} ({{ booking.hotel.address.city }})
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedBooking.id">
          <mat-button-toggle value="1" (click)="changeCity(group.value)">La Mecque</mat-button-toggle>
          <mat-button-toggle value="2" (click)="changeCity(group.value)">Médine</mat-button-toggle>
        </mat-button-toggle-group> -->
      </div>
      <div class="col-8">
        <button mat-raised-button class="btn btn-info" color="accent" (click)="save()">
          <mat-icon>save</mat-icon>Sauvegarder
        </button>
        <button mat-raised-button class="btn btn-primary" (click)="print()">
          <mat-icon>print</mat-icon>Imprimer
        </button>
        <button mat-raised-button class="btn btn-danger" (click)="deleteEmptyRooms()">
          <mat-icon>delete</mat-icon>Supprimer chambres vides
        </button>
        <div style="margin-top: -1.5rem; margin-left: 1rem; height: 30px;">
          <app-spinner [loader]="saveLoader" diameter="30"></app-spinner>
        </div>
        <!-- <button mat-raised-button class="btn btn-primary" (click)="generate()">
          <mat-icon>view_list</mat-icon>Générer automatiqument
        </button> -->
      </div>
    </div>
    <app-spinner [loader]="loader"></app-spinner>
    <div *ngIf="selectedBooking" class="drag-wrapper row">
      <div class="customers-container" [ngClass]="{'col-6 col-lg-4': customersExpanded, 'col': !customersExpanded}">
        <div class="row">
          <h4 *ngIf="customersExpanded && customers[selectedBooking.id]" class="col-9">{{ customers[selectedBooking.id].length }} Personnes</h4>
          <button class="col-2" mat-icon-button (click)="customersExpanded = !customersExpanded">
            <mat-icon *ngIf="customersExpanded">chevron_right</mat-icon>
            <mat-icon *ngIf="!customersExpanded">chevron_right</mat-icon>
          </button>
        </div>
        <div *ngIf="customersExpanded" class="drag-container sticky-top customer-scrollable" 
             dragula="ROOMS" [(dragulaModel)]="customers[selectedBooking.id]">
          <div *ngFor="let customer of customers[selectedBooking.id]" class="customer"
              [ngClass]="{'background-pink': customer.gender == 'F', 'background-cyan': customer.gender == 'M'}">
              {{ customer.firstname }} {{ customer.lastname }}
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-6 col-lg-8': customersExpanded, 'col-12 col-lg-11': !customersExpanded}">
        <div class="card">
          <div class="card-header card-header-hotel card-header-warning" (click)="selectedBooking.hotel.expanded = !selectedBooking.hotel.expanded">
            <h4 class="card-title pull-left">{{ selectedBooking.hotel.name }}</h4>
            <div class="card-header-actions">
                <button mat-icon-button>
                    <mat-icon *ngIf="selectedBooking.hotel.expanded">expand_more</mat-icon>
                    <mat-icon *ngIf="!selectedBooking.hotel.expanded">chevron_right</mat-icon>
                </button>
            </div>
          </div>
          <div *ngIf="selectedBooking.hotel.expanded" class="card-body">
            <div>
              <mat-slide-toggle color="primary" (change)="isEdit = !isEdit">
                  Modifier numéro des chambres
              </mat-slide-toggle>
              <button class="pull-right" matTooltip="Ajouter des chambres" mat-icon-button (click)="openRoomReservationDialog();$event.stopPropagation()">
                  <mat-icon>add</mat-icon>
              </button>
            </div>
            <div *ngFor="let rooms of groupedRoomByHotelBooking[selectedBooking.id]; let i = index">
              <div *ngIf="rooms && rooms.length > 0" class="room-title">Chambres {{i}} personnes</div>
              <div class="card-columns">
                <div class="drag-container card" [attr.id]="selectedBooking.id + '-' + room.id + '-' + room.roomType.personNumber" 
                  [ngClass]="{'read-only': isEdit}" dragula="ROOMS" *ngFor="let room of rooms"
                  [(dragulaModel)]="room.customers" [style.minHeight.px]="48 + (room.roomType.personNumber * 42)">
                  <mat-form-field *ngIf="isEdit">
                      <input matInput placeholder="No Chambre" [(ngModel)]="room.roomNumber">
                  </mat-form-field>
                  Chambre {{ room.roomNumber }} {{ room.privateLabel }}
                  <div *ngFor="let customer of room.customers" class="customer"
                      [ngClass]="{'background-pink': customer.gender == 'F', 'background-cyan': customer.gender == 'M'}">
                      {{ customer.firstname }} {{ customer.lastname }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="drag-container" dragula="DRAGULA_FACTS">
          <div>You can move these elements between these two containers</div>
          <div>Moving them anywhere else isn't quite possible</div>
          <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        </div>
        <div class="drag-container" dragula="DRAGULA_FACTS">
        </div>
        <div class="drag-container" dragula="DRAGULA_FACTS">
        </div> -->
    </div>
  </div>