<div>
    <div class="row">
      <button mat-raised-button type="submit" class="btn btn-info pull-left" color="accent" (click)="save()">
        Sauvegarder
      </button>
      <button mat-raised-button type="submit" class="btn btn-primary pull-left" (click)="generate()">
          Générer automatiqument
      </button>
    </div>
    <div class="drag-wrapper row">
      <div [ngClass]="{'col-6 col-lg-4': customersExpanded, 'col': !customersExpanded}">
        <div class="row">
          <h4 *ngIf="customersExpanded" class="col-9">{{ customers.length }} Personnes</h4>
          <button class="col-2" mat-icon-button (click)="customersExpanded = !customersExpanded">
            <mat-icon *ngIf="customersExpanded">chevron_right</mat-icon>
            <mat-icon *ngIf="!customersExpanded">chevron_right</mat-icon>
          </button>
        </div>
        <div *ngIf="customersExpanded" class="drag-container sticky-top customer-scrollable" 
             dragula="ROOMS" [(dragulaModel)]="customers">
          <div *ngFor="let customer of customers" class="customer"
              [ngClass]="{'background-pink': customer.gender == 'F', 'background-cyan': customer.gender == 'M'}">
              {{ customer.firstname }} {{ customer.lastname }}
          </div>
        </div>
      </div>
      <div [ngClass]="{'col-6 col-lg-8': customersExpanded, 'col-12 col-lg-11': !customersExpanded}">
        <div *ngFor="let reservation of hotelReservations" class="card">
            <div class="card-header card-header-warning">
              <h4 class="card-title pull-left">{{ reservation.hotel.name }}</h4>
              <div class="card-header-actions">
                  <button mat-icon-button (click)="reservation.hotel.expanded = !reservation.hotel.expanded">
                      <mat-icon *ngIf="reservation.hotel.expanded">expand_more</mat-icon>
                      <mat-icon *ngIf="!reservation.hotel.expanded">chevron_right</mat-icon>
                  </button>
              </div>
            </div>
            <div *ngIf="reservation.hotel.expanded" class="card-body">
              <div class="card-columns">
                <div class="drag-container card" [attr.id]="reservation.id + '-' + room.id + '-' + room.roomDetail.personsNumber" 
                  dragula="ROOMS" *ngFor="let room of reservation.rooms"
                  [(dragulaModel)]="room.customers" style="min-height:100px; margin-bottom:11px;">
                    Chambre {{ room.roomDetail.number }} ({{ room.roomDetail.personsNumber }} pers.)
                    <div *ngFor="let customer of room.customers" class="customer"
                         [ngClass]="{'background-pink': customer.gender == 'F', 'background-cyan': customer.gender == 'M'}">
                        {{ customer.firstname }} {{ customer.lastname }}
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>

        <!-- <div class="drag-container" dragula="DRAGULA_FACTS">
          <div>You can move these elements between these two containers</div>
          <div>Moving them anywhere else isn't quite possible</div>
          <div>There's also the possibility of moving elements around in the same container, changing their position</div>
        </div>
        <div class="drag-container" dragula="DRAGULA_FACTS">
        </div>
        <div class="drag-container" dragula="DRAGULA_FACTS">
        </div> -->
    </div>
  </div>

<!-- <div class="row">
  <div class="col-4">
    <pre>Fruits</pre>
    <mat-list dndDropzone
            dndEffectAllowed="move"
            (dndDrop)="onDrop($event, fruits)"
            class="dndList">
      <mat-list-item dndPlaceholderRef class="dndPlaceholder">
      </mat-list-item>
      <mat-list-item *ngFor="let fruit of fruits"
                      [dndDraggable]="fruit"
                      [dndType]="fruit"
                      dndEffectAllowed="move"
                      (dndMoved)="onDragged(fruit, fruits)">
        <h1 mat-line>{{fruit}}</h1>
      </mat-list-item>
    </mat-list>
  </div>

  <div class="col-4">
    <pre>Apples</pre>
    <mat-list [dndDropzone]="['apple']"
            dndEffectAllowed="move"
            (dndDrop)="onDrop($event, apples)"
            class="dndList">
      <mat-list-item dndPlaceholderRef
                      class="dndPlaceholder">
      </mat-list-item>
      <mat-list-item *ngFor="let apple of apples"
                      [dndDraggable]="apple"
                      [dndType]="apple"
                      dndEffectAllowed="move"
                      (dndMoved)="onDragged(apple, apples)">
        <h1 mat-line>{{apple}}</h1>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-4">
    <pre>Bananas</pre>
    <mat-list [dndDropzone]="['banana']"
            dndEffectAllowed="move"
            (dndDrop)="onDrop($event, bananas)"
            class="dndList">

    <mat-list-item dndPlaceholderRef
                    class="dndPlaceholder">
    </mat-list-item>

    <mat-list-item *ngFor="let banana of bananas"
                    [dndDraggable]="banana"
                    [dndType]="banana"
                    dndEffectAllowed="move"
                    (dndMoved)="onDragged(banana, bananas)">
      <h1 mat-line>{{banana}}</h1>
    </mat-list-item>
    </mat-list>
  </div>
</div> -->