.drag-wrapper {
    margin-top: 2rem;

    .drag-container {
        padding: 10px;
        min-height:90px;
        margin-bottom:11px;
        margin-top: 15px;

        div {
            margin: 4px 2px;
            padding: 7px 10px;
            transition: opacity 0.4s ease-in-out;
        }
    }

    h4 {
        margin-left: 12px;
    }
}

.customers-container {
    background: #fefefe;
    padding: 15px;
    border-radius: 10px;
    
    .customer-scrollable {
        padding-top: 0 !important;
        height: 70vh;
        overflow: scroll;
    }
}

.customer {
    color: #333;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    border-radius: 6px;
    font-size: 14px;
}

.card-header-hotel {
    cursor: pointer;
    padding: 5px !important;
    
    button {
        margin-right: 10px;
    }
}

.mat-form-field {
    padding: 0 10px;
}

.read-only {
    background-color: #eee;
}

.room-type {
    padding: 3px 10px !important;
    display: flex;
}

.room-title {
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
}