<app-spinner [loader]="loader"></app-spinner>
<div class="row">
  <div class="col-lg-6 col-12" *ngFor="let fee of fees; let i = index">
    <div style="display:flex">
      <mat-checkbox [(ngModel)]="fee.checked" (change)="feeChanged($event, fee)">{{ fee.name }} <span *ngIf="!fee.isDynamic">({{ fee.price }}€)</span></mat-checkbox>
      <!-- <mat-form-field class="col-4" *ngIf="fee.isDynamic">
          <input type="number" matInput min="0" [(ngModel)]="fee.price" placeholder="Prix">
      </mat-form-field> -->
      <input type="number" *ngIf="fee.isDynamic" min="0" class="form-control form-control-sm" 
        (change)="feeChanged($event, fee)" placeholder="Prix" [(ngModel)]="fee.price"/>
    </div>
  </div>
</div>
<br>
<!-- <div class="row col">
  <mat-checkbox [(ngModel)]="takeHotelsSeparately" (change)="emitChanges()">Prendre hôtels séparément ?</mat-checkbox>
</div>
<div class="row" *ngIf="takeHotelsSeparately">
  <div class="col">
    
  </div>
</div>
<br>
<div class="row col">
  <mat-checkbox [(ngModel)]="takeFlightsSeparately" (change)="emitChanges()">Prendre vols séparément ?</mat-checkbox>
</div>
<div class="row" *ngIf="takeFlightsSeparately">
  <div class="col">
    <div *ngIf="travelTypeId == 2 || travelTypeId == 3">
        <app-flight-booking [customer]="customer" [isGroup]="isGroup" (onChange)="onFlightsChange($event)"></app-flight-booking>
      </div>
  </div>
</div> -->