<div mat-dialog-title>Nouveau Hajj</div>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="form.valid && save()">
    <mat-form-field class="full-width">
      <input formControlName="name" type="number" matInput placeholder="Année" required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input formControlName="price" type="number" matInput placeholder="Prix en €" required>
    </mat-form-field>
    <div class="pull-buttons-right">
      <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" buttonClass="btn btn-info"
        loadingValue="{{ 'COMMON.SAVING' | translate }}" [form]="form"
        [subscription]="saveSubscription">
      </app-submit-button>
      <button mat-raised-button class="btn btn-secondary" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
    </div>
  </form>
</div>
