<form [formGroup]="form">
    <div *ngIf="customer">
        <div class="row" *ngFor="let fee of fees">
            <div class="col">{{ fee.name }}</div>
            <div class="col">{{ fee.price }}€</div>
        </div>
        <div *ngIf="isEdit && customer.travelPayment.discount > 0" class="row">
            <div class="col">Remise</div>
            <div class="col">-{{ customer.travelPayment.discount }}€</div>
        </div>

        <div class="total row bold">
            <div class="col">Total</div>
            <div class="col">{{ calculateTotal() }}€</div>
        </div>

        <div *ngIf="isEdit && customer.travelPayment.amountPaid > 0" class="row">
            <div class="col">Montant payé</div>
            <div class="col">{{ customer.travelPayment.amountPaid }}€</div>
        </div>

        <mat-form-field *ngIf="!readOnly">
            <input type='number' matInput min="0" placeholder="Accorder une remise" formControlName="discount">
        </mat-form-field>

        <div class="total row bold">
            <div class="col">A PAYER</div>
            <div class="col">{{ getAmountToPay() }}€</div>
        </div>
        <div *ngIf="getAmountToRefund() > 0" class="total row bold">
            <div class="col">A REMBOURSER</div>
            <div class="col">{{ getAmountToRefund() }}€</div>
        </div>
        <mat-form-field *ngIf="!readOnly">
            <input type='number' matInput min="0" [max]="calculateTotal()" placeholder="Paiement en €" formControlName="amount">
        </mat-form-field>
    </div>
</form>