<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="user.isInRole([adminRole, userManagementRole])" class="col-lg-4 col-md-12">
                <div class="card card-block">
                    <div class="card-body" routerLink="user">
                        <mat-icon>person</mat-icon>
                        <div class="text-icon">Gestion des utilisateurs</div>
                    </div>
                </div>
            </div>
            <div *ngIf="user.isInRole([adminRole, feeManagementRole])" class="col-lg-4 col-md-12">
                <div class="card card-block">
                    <div class="card-body" routerLink="fees">
                        <mat-icon>euro_symbol</mat-icon>
                        <div class="text-icon">Gestion des prix</div>
                    </div>
                </div>
            </div>
            <div *ngIf="user.isInRole([adminRole, documentManagementRole])" class="col-lg-4 col-md-12">
                <div class="card card-block">
                    <div class="card-body" routerLink="documents">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="text-icon">Gestion des documents</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>