<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="action-buttons">
                  <button class="btn btn-info" (click)="openUserDialog()"><mat-icon>add</mat-icon>Ajouter un utilisateur</button>
                </div>
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Utilisateurs</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>{{ 'COMMON.USERNAME' | translate }}</th>
                                    <th>{{ 'COMMON.NAME' | translate }}</th>
                                    <th>{{ 'COMMON.STATUS' | translate }}</th>
                                    <!-- <th *ngFor="let permission of permissions">{{ permission.resourceKey }}</th> -->
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of users" (click)="openUserDialog(user)">
                                      <td class="bold">{{user?.username}}</td>
                                      <td>{{user?.firstname}} {{user?.lastname}}</td>
                                      <td>{{user?.status}}</td>
                                      <td *ngFor="let permission of permissions" class="center">
                                          <i *ngIf="user.permissions && user.permissions.indexOf(permission.id) > -1" 
                                          class="fa fa-check theme-color"></i>
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>