<div mat-dialog-title>Nouveau document</div>
<div mat-dialog-content>
    <form [formGroup]="form">
      <div>
        <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'COMMON.NAME' | translate }}" formControlName="name" required>
        </mat-form-field>
        <label>S'applique à</label>
        <br>
        <mat-checkbox formControlName="hajj" style="margin-bottom: 11px">Hajj</mat-checkbox>
        <mat-checkbox formControlName="omra" style="margin-left: 15px">Omra</mat-checkbox>
        <mat-checkbox formControlName="travel" style="margin-left: 15px">Voyage</mat-checkbox>
        <br>
        <br>
        <mat-checkbox formControlName="mandatory">Document obligatoire ?</mat-checkbox>
      </div>
      <div class="pull-buttons-right">
        <app-submit-button value="{{ 'COMMON.SAVE' | translate }}" buttonClass="btn btn-info"
          loadingValue="{{ 'COMMON.SAVING' | translate }}" [form]="form"
          [subscription]="saveSubscription" (click)="save()">
        </app-submit-button>
        <button mat-raised-button class="btn btn-secondary" (click)="cancel()">{{ 'COMMON.CANCEL' | translate }}</button>
      </div>
    </form>
</div>