<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="action-buttons">
                  <button class="btn btn-info" (click)="newHajj()"><mat-icon>add</mat-icon>Ajouter un Hajj</button>
                </div>
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Historique des Hajj</h4>
                        <!-- <div class="card-header-actions">
                            <button mat-icon-button matTooltip="Nouveau Hajj">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Année</th>
                                    <th>Nombre de personnes</th>
                                    <th>Status</th>
                                    <th>Revenus</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hajj of hajjList" [routerLink]="['/hajj', hajj.id]">
                                        <td>{{ hajj.year }}</td>
                                        <td>{{ hajj.customers?.length }}</td>
                                        <td>{{ hajj.status }}</td>
                                        <td class="text-primary">{{ hajj.revenues }} €</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  