<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="action-buttons">
                  <button class="btn btn-info" (click)="openHajjDialog()"><mat-icon>add</mat-icon>Ajouter un Hajj</button>
                </div>
                <app-spinner [loader]="loader"></app-spinner>
                <div class="card" *ngIf="loader.closed && hajjList && hajjList.data && hajjList.data.length > 0">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Historique des Hajj</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-primary">
                                    <th>Année</th>
                                    <th>Nombre de personnes</th>
                                    <th>Statut</th>
                                    <th>Revenus</th>
                                    <th></th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let hajj of hajjList.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: hajjList?.paging?.totalCount }" [routerLink]="['/hajj', hajj.id]">
                                        <td>{{ hajj.name }}</td>
                                        <td>{{ hajj.travelerCount }}</td>
                                        <td>{{ hajj.status }}</td>
                                        <td class="text-primary">{{ hajj.revenues }}€</td>
                                        <td>
                                            <button mat-icon-button matTooltip="Modifier" (click)="openHajjDialog(hajj);$event.stopPropagation()">
                                                <mat-icon>edit</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <pagination-controls *ngIf="hajjList" (pageChange)="pageChanged($event)" 
                        autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
  </div>
  