<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="action-buttons">
          <button class="btn btn-info" (click)="openServiceFeeDialog()"><mat-icon>add</mat-icon>Ajouter un service</button>
        </div>
        <app-spinner [loader]="loader"></app-spinner>
        <div class="card" *ngIf="loader.closed && additionalFees && additionalFees.data && additionalFees.data.length > 0">
          <div class="card-header card-header-warning">
            <h4 class="card-title">Services supplémentaires</h4>
          </div>
          <div class="card-body">
            <table class="table">
              <thead class=" text-primary">
                <th class="column-name">Catégories</th>
                <th class="column-name">Name</th>
                <th>Prix</th>
              </thead>
              <tbody>
                <tr *ngFor="let additionalFee of additionalFees.data | paginate: { itemsPerPage: itemsPerPage, currentPage: feesCurrentPage, totalItems: additionalFees?.paging?.totalCount }">
                  <td>{{ displayCategories(additionalFee) }}</td>
                  <td>{{ additionalFee.name }}</td>
                  <td class="row m-0 form-inline">
                    <input type="text" class="col form-control form-control-sm" placeholder="Prix" [(ngModel)]="additionalFee.price"/>
                    <button class="save-btn" mat-icon-button (click)="updateFee(additionalFee)">
                      <mat-icon class="text-success">check-circle</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <pagination-controls *ngIf="additionalFees" (pageChange)="feesPageChanged($event)" 
              autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>