<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="action-buttons">
                  <button class="btn btn-info" (click)="openUserDialog()">Ajouter un utilisateur</button>
                </div> -->
                <div class="card">
                    <h4 class="card-header">Hajj et Omras</h4>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                  <th>Name</th>
                                  <th>Prix</th>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td>Hajj 2018</td>
                                      <td class="row">
                                        <mat-form-field class="price-field">
                                            <input matInput placeholder="Prix">
                                        </mat-form-field>
                                        <button class="save-btn" mat-icon-button>
                                            <mat-icon class="text-success">save</mat-icon>
                                        </button>
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>