<div class="main-content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="action-buttons">
                <button class="btn btn-info" (click)="openHotelDialog()"><mat-icon>add</mat-icon>Ajouter un hôtel</button>
            </div>
            <app-spinner [loader]="loader"></app-spinner>
            <div class="card" *ngIf="loader.closed && hotels && hotels.data && hotels.data.length > 0">
                <div class="card-header card-header-warning">
                    <h4 class="card-title pull-left">Hôtels</h4>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <th>Nom</th>
                            <th>Chambres</th>
                            <th>Téléphone</th>
                            <th>Adresse</th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hotel of hotels.data | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: hotels?.paging?.totalCount }" (click)="openHotelDialog(hotel)">
                            <td>{{ hotel.name }}</td>
                            <td>{{ hotel.roomsCount }}</td>
                            <td>{{ hotel.contactPhoneNumber }}</td>
                            <td></td>
                            <td>
                                <button mat-icon-button (click)="openDeleteDialog(hotel);$event.stopPropagation()">
                                    <mat-icon class="text-danger">delete</mat-icon>
                                </button>
                            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <pagination-controls *ngIf="hotels" (pageChange)="pageChanged($event)" 
                    autoHide="true" directionLinks="true" previousLabel="" nextLabel="" maxSize="5">
                </pagination-controls>
            </div>
          </div>
      </div>
    </div>
</div>