.picture {
    margin-bottom: 25px;
    text-align: center;
    
    label {
        margin: 0;
    }

    img {
        margin-top: 15px;
        max-width: 130px;
        max-height: 130px;
        // border-radius: 50%;
    }
}