.flex-row {
    display: flex;
    justify-content: space-between;
}

.summary-total {
    font-size: 1rem;
    text-transform: uppercase;
}

hr {
    margin-top: 0;
}

a {
	color: #4688f1 !important;
	font-size: .8rem
}

a:hover {
	text-decoration: underline !important;
}

.details {
    font-size: .85rem;
    border-top: 1px solid #eee;
}

.details.row:hover {
    background-color: #ddd;

}