<div class="main-content">
    <div class="container-fluid">
        <h2 class="text-primary">Hajj {{hajj.year}}</h2>
        <div class="row">
            <div class="col-lg-12">
                <div *ngIf="!hajj.customers || hajj.customers.length == 0" class="card card-block">
                    <div class="card-body" (click)="openAddCustomerDialog()">
                        <mat-icon>people</mat-icon>
                        <div class="text-icon">Ajouter des pèlerins</div>
                    </div>
                </div>
                <div *ngIf="hajj.customers && hajj.customers.length > 0" class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title pull-left">Pèlerins</h4>
                        <div class="card-header-actions">
                            <button mat-icon-button title="Ajouter pèlerins" (click)="openAddCustomerDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Nom</th>
                                <th>Sexe</th>
                                <th>Age</th>
                                <th>Telephone</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let customer of hajj.customers" [routerLink]="['/customers', customer.id]">
                                  <td>{{ customer.firstname }} {{ customer.lastname }}</td>
                                  <td>{{ customer.gender }}</td>
                                  <td>{{ moment().diff(customer.birthdate, 'years') }}</td>
                                  <td>{{ customer.mobileNumber }}</td>
                                  <td>
                                    <button mat-icon-button title="Enlever du Hajj">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                  </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div *ngIf="!hajj.hotels || hajj.hotels.length == 0" class="card card-block">
                    <div class="card-body" (click)="openAddHotelDialog()">
                        <mat-icon>hotel</mat-icon>
                        <div class="text-icon">Ajouter des hôtels</div>
                    </div>
                </div>
                <div *ngIf="hajj.hotels && hajj.hotels.length > 0" class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title pull-left">Hôtels</h4>
                        <div class="card-header-actions pull-right">
                            <button mat-icon-button title="Organiser les chambres" routerLink="rooms">
                                <mat-icon>view_module</mat-icon>
                            </button>
                            <button mat-icon-button title="Ajouter un hôtel" (click)="openAddHotelDialog()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Nom</th>
                                <th>Pèlerins</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let hotel of hajj.hotels" [routerLink]="['/hotels', hotel.id]">
                                  <td>{{ hotel.name }}</td>
                                  <td>{{ hotel.pilgrimsCount }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div *ngIf="!hajj.airlines || hajj.airlines.length == 0" class="card card-block">
                    <div class="card-body">
                        <mat-icon>flight</mat-icon>
                        <div class="text-icon">Ajouter des vols</div>
                    </div>
                </div>
                <div *ngIf="hajj.airlines && hajj.airlines.length > 0" class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Vols</h4>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>Nom</th>
                                <th>Pèlerins</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let airline of hajj.airlines" [routerLink]="['/airlines', airline.id]">
                                  <td>{{ airline.name }}</td>
                                  <td>{{ airline.pilgrimsCount }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>