.hidden {
    display: none;
}

.card-header-actions {
    max-height: 50px;
    float: right;
}

.table-hover {
    cursor: pointer;
}

.background-pink {
    background-color: #FFB6C1;
}
.background-cyan {
    background-color: #ADD8E6;
}
.pink {
    color: #FFB6C1;
}
.cyan {
    color: #ADD8E6;
}

.table .mat-icon-button {
    width: 27px;
    height: 27px;
    line-height: 27px;
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }