a {
    cursor: pointer;
}

.hidden {
    display: none;
}

.inline {
    display: inline-flex;
}

.invalid-field {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 83%;
    color: #dc3545;
    font-weight: 500;
}

.text-white {
    color: #fff;
}

.bold {
    font-weight: bold;
}
.font-500 {
    font-weight: 500;
}

.center {
    text-align: center;
}

.multiline {
    white-space: pre-line;
}

.align-top {
    vertical-align: top;
}

.inactive {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: .6;
}

.card-header-actions {
    max-height: 50px;
    float: right;
    margin-right: -15px !important;
}

.card-block.disabled {
    background-color: #ccc;
    pointer-events: none;
    cursor: default;
}

.table-hover {
    cursor: pointer;
}

.background-pink {
    background-color: #FFB6C1;
}
.background-cyan {
    background-color: #ADD8E6;
}
.pink {
    color: #FFB6C1;
}
.cyan {
    color: #ADD8E6;
}

.action-buttons {
    margin-left: 14px
}

.pull-buttons-right {
    float: right;

    button:first-child {
        margin-right: 10px !important;
    }
}

.table .mat-icon-button {
    width: 27px;
    height: 27px;
    line-height: 27px;
}

.sticky-top {
    z-index: 1000 !important;
}

.mat-simple-snackbar-action {
    color: #fff !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    line-height: 36px !important;
}

.mat-tab-header {
    margin-bottom: 25px !important;
}
.mat-tab-label {
    padding: 0 17px !important;
    min-width: auto !important;
}

app-login, app-set-password, app-forget-password {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  app-login, app-set-password, app-forget-password {
    width: 360px;
  }
}
@media (min-width: 992px) {
  app-login, app-set-password, app-forget-password {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  app-login, app-set-password, app-forget-password {
    width: 450px;
  }
}

.ro-star-rating {
    .rating {
        justify-content: start;
        margin-bottom: 0;
    }

    .rating.disabled .star-container .star {
        opacity: 1;
    }
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }


// Multi select control  
.multi-form-control {
    background: none;
    width: 100%;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
}

.multi-form-control-sm {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
    border-radius: 0.2rem !important;
}

.dropdown-menu {
    font-size: 12px;
    
    .dropdown-item {
        padding: 0.5rem .7rem !important;
    }

    .check-control-uncheck {
        border-bottom: 1px solid #ccc;
    }

    input {
        vertical-align: middle;
    }     
}

.form-outline {
    .mat-form-field-appearance-outline .mat-form-field-infix {
        padding: .5em 0 .5em 0 !important;
    }

    .mat-form-field-infix {
        border-top: .4375em solid transparent !important;
    }

    .mat-form-field-label-wrapper {
        //top: -.84375em;
        padding-top: .4375em !important;
    }

    .mat-form-field-appearance-outline .mat-form-field-label {
        top: 1.4375em !important;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
        transform: translateY(-1em)scale(.75) !important;
        -webkit-transform: translateY(-1em)scale(.75) !important;
    }
}

.form-outline.p-b-0 {
    .mat-form-field-wrapper {
        padding-bottom: 0 !important;
    }
}