a {
    cursor: pointer;
}

.hidden {
    display: none;
}

.invalid-field {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 83%;
    color: #dc3545;
    font-weight: 500;
}

.text-white {
    color: #fff;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.inactive {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: .6;
}

.card-header-actions {
    max-height: 50px;
    float: right;
    margin-right: -15px !important;
}

.table-hover {
    cursor: pointer;
}

.background-pink {
    background-color: #FFB6C1;
}
.background-cyan {
    background-color: #ADD8E6;
}
.pink {
    color: #FFB6C1;
}
.cyan {
    color: #ADD8E6;
}

.action-buttons {
    margin-left: 14px
}

.pull-buttons-right {
    float: right;

    button:first-child {
        margin-right: 10px !important;
    }
}

.table .mat-icon-button {
    width: 27px;
    height: 27px;
    line-height: 27px;
}

.mat-simple-snackbar-action {
    color: #fff !important;
}

app-login, app-set-password, app-forget-password {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
  app-login, app-set-password, app-forget-password {
    width: 360px;
  }
}
@media (min-width: 992px) {
  app-login, app-set-password, app-forget-password {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  app-login, app-set-password, app-forget-password {
    width: 450px;
  }
}

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;
  }
  /* high-performance display:none; helper */
  .gu-hide {
    left: -9999px !important;
  }
  /* added to mirrorContainer (default = body) while dragging */
  .gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }
  /* added to the source element while its mirror is dragged */
  .gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
  }