<div mat-dialog-title>Imprimer documents</div>
<mat-dialog-content>
  <app-spinner [loader]="loader"></app-spinner>
  <table class="table table-hover" *ngIf="customers && customers.length > 0 && (!loader || loader.closed)">
    <tbody>
      <tr *ngFor="let customer of customers">
        <td>
          <mat-checkbox (change)="onCustomerChecked($event, customer)" [checked]="isCustomerChecked(customer)"></mat-checkbox>
        </td>
        <td>{{ customer.firstname }} {{ customer.lastname }}</td>
      </tr>
    </tbody>
  </table>
  <div class="inline">
    <div>
      <button class="btn btn-info" [matMenuTriggerFor]="menu" [disabled]="customersChecked.length == 0">Imprimer<mat-icon>expand_more</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="printContract()"><mat-icon>chrome_reader_mode</mat-icon>Contrat</button>
        <button mat-menu-item (click)="printPaymentReceipt()"><mat-icon>receipt</mat-icon>Reçu de paiement</button>
        <button mat-menu-item (click)="printDocumentsReceipt()"><mat-icon>description</mat-icon>Reçu de documents</button>        
        <button mat-menu-item (click)="printTravelerBadge()"><mat-icon>picture_in_picture</mat-icon>Badge</button>
        <button mat-menu-item (click)="printInhumationAuthorization()"><mat-icon>airline_seat_flat</mat-icon>Autorisation d'inhumation</button>
      </mat-menu>
    </div>
	  <div style="margin-top: -1.5rem; margin-left: 1rem;">
	    <app-spinner [loader]="printLoader" diameter="30"></app-spinner>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col">
      <button class="btn btn-info" (click)="printContract()" [disabled]="customersChecked.length == 0"><mat-icon>chrome_reader_mode</mat-icon>Imprimer contrat</button>        
    </div>
    <div class="col">
      <button class="btn btn-info" (click)="printPaymentReceipt()" [disabled]="customersChecked.length == 0"><mat-icon>receipt</mat-icon>Imprimer reçu</button>
    </div>
  </div> -->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button class="btn btn-secondary" (click)="close()">{{ 'COMMON.CLOSE' | translate }}</button>
</mat-dialog-actions>